<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divisions App</title>
</head>
<body>
    <h1>Welcome to the Jiu-Jitsu Divisions app!</h1>
    <p>An app for viewing all the different divisions.</p>
    <button onclick="window.location.href='/views/signup/new.ejs';">Register</button>
    <button onclick="window.location.href='/login';">Log In</button>
</body>
</html>