<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access</title>
</head>
<body>
    <h1>Access Denied</h1>
    <p>Please login to your account.<br />If you are not a member signup and create an account.</p>
    <button onclick="window.location.href='/login';">Log In</button>
    <button onclick="window.location.href='/views/signup/new.ejs';">Register</button>
</body>
</html>